<a href="https://colab.research.google.com/github/gurralamanoj/INSAID_1005_CDF_Project/blob/main/LoadGoogleDocsCSV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)
#https://drive.google.com/file/d/1Ir3rW0YTKmk7MSjVjCU_UGMQevhe1v9W/view
fileDownloaded = drive.CreateFile({'id':'1Ir3rW0YTKmk7MSjVjCU_UGMQevhe1v9W'})
fileDownloaded.GetContentFile('events_data.csv')
import pandas as pd
df = pd.read_csv('events_data.csv')
df.head()

In [4]:
fileDownloaded = drive.CreateFile({'id':'1Ir3rW0YTKmk7MSjVjCU_UGMQevhe1v9W'})
fileDownloaded.GetContentFile('events_data.csv')
import pandas as pd
df = pd.read_csv('events_data.csv')
df.head()

   event_id     device_id            timestamp  ...   latitude      city       state
0   2765368  2.973348e+18  2016-05-07 22:52:05  ...  28.730140     Delhi       Delhi
1   2955066  4.734221e+18  2016-05-01 20:44:16  ...  22.660325  Calcutta  WestBengal
2    605968 -3.264500e+18  2016-05-02 14:23:04  ...  28.757906     Delhi       Delhi
3    448114  5.731369e+18  2016-05-03 13:21:16  ...  13.153332   Chennai   TamilNadu
4    665740  3.388880e+17  2016-05-06 03:51:05  ...  23.842609    Bokaro   Jharkhand

[5 rows x 7 columns]